:root {
    --primary-accent: #c8c8c8;
    --primary-accent-dark: #c4c4c4;
    --secondary-accent-light: rgb(222, 202, 74);
    --secondary-accent-dark: rgb(205, 187, 71);
    --background-light: #2f4f4f;
    --background-dark: #1f3434;
    --secondary-light: #444444;
    --secondary-dark: #303030;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-light);
    color: var(--primary-accent);
    margin: 0;
}

.header {
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
    /* box-shadow: black 5px 5px; */
}

.title {
    font-size: 60px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.options {
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
    background-color: var(--primary-accent);
    box-shadow: black 5px 5px;
}

.color-grid {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping into multiple rows */
    width: 120px;  /* 3 buttons per row (40px each) */
    gap: 5px;  /* Spacing between buttons */
}

.color-btn {
    width: 35px;
    height: 35px;
    /* border: none; */
    /* border: 2px solid transparent; */
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: black 2px 2px;
}

.color-btn:hover {
    transform: scale(1.1);
}

.color-btn.pressed {
    box-shadow: none;
}

.color-btn.active {
    border: 2px solid white; /* Highlight active color */
    /* box-shadow: 0px 0px 8px white; */
    /* box-shadow: white 1px 1px; */
    box-shadow: black 2px 2px;
}

.color-btn:disabled {
    transition: none;
    transform: none;
    box-shadow: none;
    opacity: 0.5;
    cursor: auto;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    background-color: var(--secondary-accent-light); /*(200, 177, 29)*/
    color: var(--secondary-light);
    padding: 16px;
    border-radius: 0;
    box-shadow: black 2px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-accent-dark);
    transform: scale(1.1);
}

.btn.pressed {
    box-shadow: none;
}

.btn.active {
    border: 2px solid white;
    box-shadow: black 2px 2px;
}

.canvas {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 600px;
    height: 600px;
    background-color: var(--primary-accent);
    box-shadow: black 5px 5px;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
}

.block {
    background-color: transparent;
    border: 1px solid var(--primary-accent-dark);
    box-sizing: border-box; /* keeps border within box dimensions, instead of outside, consistent sizing */
    margin: 0;
    padding: 0;
    /* flex: 0 0 auto; */
    /* width: 6px;
    height: 6px; */
}

.block:hover {
    background-color: #1f3434;
}

.footer {
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    /* box-shadow: black 5px 5px; */
}
